.testimonials {
  padding-bottom: 0;

  &__top {
    margin-bottom: 86px;

    @include mobile {
      margin-bottom: 43px;
    }
  }

  &__item {
    position: relative;
    margin:0 20px 20px 0;
    max-width: 314px;
    text-align: center;
    padding: 90px 32px 58px;
    background: #FEFEFE;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    transition: .5s;
  }
}
