$desktopXl-max-width: 1300px;
$tablet-max-width: 1024px;
$mobile-max-width: 768px;
$mobileL-max-width: 425px;
$mobileS-max-width: 320px;

$main-color: #253757;
$light-color: #fff;
$section-color: #FCFCFD;
$theme-color: #56CCF2;

$main-weight: 300;
$bold-weight: 900;
$main-size: 16px;
$main-title-size: 48px;
$secondary-title-size: 32px;
$main-height: 1.5;

$photo-width: 1150px;
$photo-height: 640px;
